body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
header {
    background-color: #16423C;
    color: #fff;
    padding: 10px;
    text-align: center;
    }
header nav ul {
    font-size: 30px;
    list-style-type: none;
    padding: 0;
    }
header nav ul li {
    font-size: 20px;
    display: inline;
    margin: 0px 10px;
    border-right: 1px dotted #f9f9f9;
    padding-right: 20px;
    }
header nav ul li a:hover {
    font-weight: bold;
    }
header nav ul li a {
    color: #fff;
    text-decoration: none;
    }
section {
    padding: 50px 0;
    text-align: center;
    }
    .container {
    max-width: 900px;
    margin: auto;
    }

.container1 {
        max-width: 900px;
        margin: auto;
        display: grid;
        justify-content: space-between; /* Mengatur jarak antar elemen */
        align-items: center; 
        grid-template-columns: repeat(3, 1fr); /* Membuat 3 kolom dengan lebar yang sama */
        gap: 20px;
    }
    
.menu-item img {
            width: 150px; /* Atur lebar sesuai keinginan */
            height: 150px; /* Atur tinggi sama dengan lebar */
            border-radius: 50%;
            object-fit: cover; /* Memastikan gambar tetap proporsional tanpa distorsi */
    }
        
#hours {
    background-color: #f9f9f9;
    padding: 50px 0;
    }
    
#hours p {
    font-size: 18px;
    margin: 5px 0;
    }
    
footer {
    background-color: #16423C;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    }